/* Global fonts */

@font-face {
    font-family: stamshons;
    src: url(/font/The-Stamshons-Demo.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: open-sans;
    src: url(/font/OpenSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: open-sans;
    src: url(/font/OpenSans-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: open-sans;
    src: url(/font/OpenSans-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: comic-smooth;
    src: url(/font/ComicNoteSmooth.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: comic;
    src: url(/font/AnimeAce3BB_Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: comic;
    src: url(/font/AnimeAce3BB_Italic.otf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: comic;
    src: url(/font/AnimeAce3BB_Bold.otf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: comic;
    src: url(/font/AnimeAce3BB_BoldItalic.otf);
    font-weight: bold;
    font-style: italic;
}


/* Global css variables */

html body {
    margin: 0;
    padding: 0;

    --navbar-height: 116px;
    --navbar-mobile-height: 81px;
}

/* Global carrousel classes */

.carrousel-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;

}

/* slide animations */

.enter-from-right-carrousel {
    animation: enter-from-right-carrousel;
    animation-duration: 1s;
}

.leave-to-left-carrousel {
    animation: leave-to-left-carrousel;
    animation-duration: 1s;
}


@keyframes enter-from-right-carrousel {

    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes leave-to-left-carrousel {

    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Prev slide animations */

.enter-from-left-carrousel {
    animation: enter-from-left-carrousel;
    animation-duration: 1s;
}

.leave-to-right-carrousel {
    animation: leave-to-right-carrousel;
    animation-duration: 1s;
}


@keyframes enter-from-left-carrousel {

    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes leave-to-right-carrousel {

    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}